{
	"extends": ["airbnb", "prettier", "next/core-web-vitals"],
	"plugins": ["prettier", "react"],
	"parserOptions": {
		"sourceType": "module"
	},

	"rules": {
		// =========================
		// --> Turn the rule off <--
		// =========================
		"react/react-in-jsx-scope": 0, // React 17+ provide support for a new version of the JSX transform
		"react/require-default-props": 0, // DefaultProps => object default values
		"import/prefer-default-export": 0,
		"react/jsx-no-useless-fragment": 0,
		"no-param-reassign": 0, // Redux toolkit - linting state mutations
		"import/no-relative-packages": 0, // Off error on import from _components
		"react/prop-types": 0, // Off props types
		"react/forbid-prop-types": [1, { "forbid": [] }], // Reset default forbid props as any, array, object
		// =====================================
		// --> Turn the rule on as a warning <--
		// =====================================
		"react/jsx-filename-extension": [
			1,
			{
				"extensions": [".js", ".jsx"]
			}
		],
		// ====================================
		// --> Turn the rule on as an error <--
		// ====================================
		"react/function-component-definition": [
			2,
			{
				"namedComponents": "arrow-function"
			}
		], // This rule is aimed to enforce consistent function types for function components.
		// "prettier/prettier": [
		// 	2,
		// 	{
		// 		"endOfLine": "auto"
		// 	}
		// ],
		"react/no-unstable-nested-components": [
			2,
			{
				"allowAsProps": true
			}
		],
		"react/jsx-props-no-spreading": [
			2,
			{
				"html": "ignore",
				"custom": "ignore",
				"explicitSpread": "ignore",
				"exceptions": [""]
			}
		]
	},
	"settings": {
		"import/resolver": {
			"node": {
				"paths": ["src"]
			}
		}
	}
}
